<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.joeldare.x1</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
    <key>WorkingDirectory</key>
    <string>/Users/jdare/Dropbox/Joel/sandbox/x1</string>
	<key>ProgramArguments</key>
	<array>
		<string>php</string>
		<string>-S</string>
		<string>0:8001</string>
	</array>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>