<!DOCTYPE html>

<head>

    <title>Nolific</title>

    <meta charset="UTF-8">

    <!-- Mobile Magic -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- External CSS -->
	<link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/vendor/material-ui/material-ui.css">

    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="64x64" href="/media/pen-nib-solid.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/media/pen-nib-solid-128.png">
	<link rel="shortcut icon" type="image/png" href="/media/pen-nib-solid.png">
	<link rel="apple-touch-icon" href="/media/pen-nib-solid-128-white.png">

</head>

<body>

    <div id="title">
        <p id="nav" style="float: right;">
            <a href="/search"><span class="material-icons" title="Search">search</span></a>
            <!-- <span class="material-icons" title="Actions">north_east</span> -->
            <a href="/page/<?php echo $prev; ?>"><span class="material-icons" title="Previous Page">navigate_before</span></a>
            <a href="/page/<?php echo $next; ?>"><span class="material-icons" title="Next Page">navigate_next</span></a>
            <a href="/new"><span class="material-icons" title="Add New Page">add</span></a>
        </p>
        <p id="page" style=""><?php echo "$title ($id)"; ?></p>
    </div>
    <div id="menu">
        <ul>
            <li>Example Action</li>
            <li>Example Action</li>
            <hr>
            <li><a href="/">Edit Actions</a></li>
        </ul>
    </div>
    <input type="hidden" name="page" value="<?php echo $id; ?>">
	<textarea id="typebox" name="text" hx-post="/save" hx-trigger="keyup changed delay:500ms" hx-include="[name='page']"><?php echo $text; ?></textarea>
	
	<!-- External Javascript -->
	<script src="/view/edit/edit.js"></script>
    <script src="/vendor/htmx.min.js"></script>

</body>

</html>
